// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$darkgray: #2e3939;
$lightgray: #859593;
$primary: #cbbfc6;
$secondary: #f79c42;
$gentle-bg: #f3f1ec;